<div class="footer">
    <button class="backToTopBtn" onclick="topFunction()" id="backToTopBtn" title="Go to top">
        <box-icon class="up_arr" name='chevrons-up' color='#4e4e4e' ></box-icon>
    </button>

    </button>

    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-lg-3 col-sm-12 footerAlignWhenSmall">

                <a href="/" class="logoTitleHead nav-link">
                    <span class="Name_logo" style="color:#3e3e3e;">
                        LERWIN <img class="Logo" src="/img/social-media/Logo_2.png" alt="LOGO">OH.
                    </span>
                </a>

            </div>
            <div class="col-lg-1 col-sm-2"></div>
            <div class="col-lg-4 col-sm-4 footerAlignWhenSmall">
                <p class="footer_header">Important Links</p>
                <p>
                    <a href="/#" class="footerBtns d-flex justify-content-center justify-content-sm-start">
                        <box-icon name='game' type='solid'></box-icon> &nbsp;Administrator
                    </a>
                </p>
            </div>
            <div class="col-lg-1 col-sm-1"></div>
            <div class="col-lg-3 col-sm-4 footerAlignWhenSmall">
                <p class="footer_header">Contact</p>
                <p>
                    <a href="mailto:lerwinloh22@gmail.com"
                        class="footerBtns d-flex justify-content-center justify-content-sm-start">
                        <box-icon type='solid' name='envelope'></box-icon> &nbsp;lerwinloh22@gmail.com
                    </a>
                </p>
                <a href="https://www.lerwinloh.com" target="_blank"
                    class="footerBtns d-flex justify-content-center justify-content-sm-start">
                    <box-icon name='globe'></box-icon> &nbsp;www.lerwinloh.com
                </a>
            </div>

        </div>
    </div>
    <div class="container">
        <hr style="border-top: 1px solid #626b7b; width: 100%; padding-bottom: 30px;" />
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-sm-12" style="text-align: center;">
                <div class="copyRight">
                    Copyright ©2024 All rights reserved | Made by Lerwin Loh.
                </div>
            </div>
        </div>
    </div>


</div>

{{!-- -------------------------------------- Footer toTop btn -------------------------------------- --}}
<script>


</script>