{{!-- 
    <div class="footer">
        <button onclick="topFunction()" id="backToTopBtn" title="Go to top">Top</button>

        <div class="container" style="padding-top: 50px;">
            <div class="row">
                <div class="col-sm-3 footerAlignWhenSmall">

                    <a href="/" class="logoTitleHead">
                        <img id="footerLogo" src="/img/Logo/nanobee_logo-09-noBg.png" alt="Logo" >
                    </a>
                    <br />
                    <br />
                    <br />
                    <div class="copyRight">
                        Copyright ©2021 All rights reserved |
                        <br />
                        Made by Lerwin Loh & Nuzul Firdaly Bin Zakariah
                    </div>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4 footerAlignWhenSmall">
                    <p class="footer_header">Important Links</p>
                    <p><a href="/terms" class="footerBtns">Terms & Conditions</a></p>
                    <p><a href="/privacy" class="footerBtns">Privacy Policy</a></p>
                    <p class="footer_header2">About nanobee</p>
                    <p>We make it easy for business to run nano influencer campaigns. So easy that they don't have to do much, if anything at all.</p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 footerAlignWhenSmall">
                    <p class="footer_header">Contact</p>
                    <p><a href="mailto:nanobeegroup@gmail.com" class="footerBtns"><i class="fa-solid fa-envelope"></i> nanobeegroup@gmail.com</a></p>
                    <p><a href="https://www.nanobee.app" class="footerBtns"><i class="fa-solid fa-globe"></i> www.nanobee.app</a></p>
                    <p><a href="https://t.me/nanobee_bot" target="_blank" class="footerBtns"><i class="fa-brands fa-telegram"></i> Telegram Bot</a></p>
                </div>

            </div>
        </div>
        <div class="container">
            <hr style="border-top: 1px solid #626b7b; width: 100%; padding-bottom: 30px;" />
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-sm-12" style="text-align: center;">
                    <a class="footerBtnsSocialMedia" href="https://t.me/nanobee_bot" target="_blank"><i class="fa-brands fa-telegram" aria-hidden="true"></i>&nbsp; </a>
                    <a class="footerBtnsSocialMedia" href="https://www.instagram.com/nanobee.sg/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp; </a>
                    <a class="footerBtnsSocialMedia" href="https://www.linkedin.com/company/nanobee/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>

                </div>
            </div>
        </div>


    </div> --}}

{{!-- -------------------------------------- Footer toTop btn -------------------------------------- --}}
<!--
<script>
var mybutton = document.getElementById("backToTopBtn");

window.onscroll = function () { scrollFunction() };

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
mybutton.style.display = "block";
} else {
mybutton.style.display = "none";
}
}

function topFunction() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}

</script>
