<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Sankofa Display' rel='stylesheet'>
<div class="bg-container">
  {{!-- Top --}}
  <div class="container" style="padding:0%;">
    <div class="row " style="margin:0">
      <div class="col-12 d-flex justify-content-center">
        <p class="test_title_body" style="text-align: center;">CERTIFICATES</p>
      </div>
    </div>
  </div>

  {{!-- Body --}}
  <div class="container-fluid main_test">
    <div class="row " style="margin: 70px 0px 0px 0px;">
      <div class="col-12 d-flex justify-content-center">
        <hr class="hr_line" style="width:100px; height:1px; border-bottom: 3px solid #ff0000; z-index:1;">
      </div>
    </div>
    <div class="row " style="margin: 90px 0px 0px 0px; ">

      {{!-- NYP Academic Transcript --}}
      <div class="col-12 fade_right" >
        <p class="test_title_child d-flex justify-content-start" style="text-align: center;">NYP Academic Transcript</p>
        <hr class="" style="width:100px; height:1px; border-bottom: 2px solid #ff0000; z-index:1; margin-left:6%;">
      </div>
      <div class="col-12">
        <div class="gallery-container ">
          <!-- Scroll Left Button -->
          <button class="scroll-gallery-btn left-gallery-btn" onclick="scrollGallery1(-1)">&#10094;</button>

          <!-- Scrollable Image Gallery -->
          <div class="scrolling-wrapper gallery1">
            <a class="gallery-item-link" href="/img/recognitions/transcripts/NYP Official Transcript.jpg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/transcripts/NYP Official Transcript.jpg" alt="Image 1">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/transcripts/NYP Optional Elective Transcript.jpg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/transcripts/NYP Optional Elective Transcript.jpg"
                alt="Image 2">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/transcripts/PFP Transcript.jpg" target="_blank">
              <img class="gallery-item" src="/img/recognitions/transcripts/PFP Transcript.jpg" alt="Image 3">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/poly/LearningPath_Certificate_RPA.jpg"
              target="_blank">
              <img class="gallery-item2" style="width: 720px;"
                src="/img/recognitions/certificates/poly/LearningPath_Certificate_RPA.jpg" alt="Image 2">
            </a>
          </div>

          <!-- Scroll Right Button -->
          <button class="scroll-gallery-btn right-gallery-btn" onclick="scrollGallery1(1)">&#10095;</button>
        </div>
      </div>

      {{!-- DLIST AWARDS --}}
      <div class="col-12 fade_right" style="margin-top:50px;">
        <p class="test_title_child d-flex justify-content-start" style="text-align: center;">Director's List Awards (6)
        </p>
        <hr class="" style="width:100px; height:1px; border-bottom: 2px solid #ff0000; z-index:1; margin-left:6%;">
      </div>
      <div class="col-12">
        <div class="gallery-container ">
          <!-- Scroll Left Button -->
          <button class="scroll-gallery-btn left-gallery-btn" onclick="scrollGallery2(-1)">&#10094;</button>

          <!-- Scrollable Image Gallery -->
          <div class="scrolling-wrapper gallery2">
            <a class="gallery-item-link" href="/img/recognitions/certificates/poly/dList y1s1.jpg" target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/poly/dList y1s1.jpg" alt="Image 1">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/poly/dList y1s2.jpg" target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/poly/dList y1s2.jpg" alt="Image 2">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/poly/dList y2s1.jpg" target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/poly/dList y2s1.jpg" alt="Image 3">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/poly/dList y2s2.jpg" target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/poly/dList y2s2.jpg" alt="Image 4">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/poly/dList y3s1.jpg" target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/poly/dList y3s1.jpg" alt="Image 5">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/poly/dList y3s2.jpg" target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/poly/dList y3s2.jpg" alt="Image 6">
            </a>
          </div>

          <!-- Scroll Right Button -->
          <button class="scroll-gallery-btn right-gallery-btn" onclick="scrollGallery2(1)">&#10095;</button>
        </div>
      </div>

      {{!-- N & O Level Certificates --}}
      <div class="col-12 fade_right" style="margin-top:50px;">
        <p class="test_title_child d-flex justify-content-start" style="text-align: center;">N & O Level Certificates
        </p>
        <hr class="" style="width:100px; height:1px; border-bottom: 2px solid #ff0000; z-index:1; margin-left:6%;">
      </div>
      <div class="col-12">
        <div class="gallery-container ">
          <!-- Scroll Left Button -->
          <button class="scroll-gallery-btn left-gallery-btn" onclick="scrollGallery3(-1)">&#10094;</button>

          <!-- Scrollable Image Gallery -->
          <div class="scrolling-wrapper gallery3">
            <a class="gallery-item-link" href="/img/recognitions/transcripts/Mayflower_Nlvl.png" target="_blank">
              <img class="gallery-item2" src="/img/recognitions/transcripts/Mayflower_Nlvl.png" alt="Image 1">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/transcripts/Mayflower_Olvl.png" target="_blank">
              <img class="gallery-item2" style="width: 720px;" src="/img/recognitions/transcripts/Mayflower_Olvl.png"
                alt="Image 2">
            </a>

          </div>

          <!-- Scroll Right Button -->
          <button class="scroll-gallery-btn right-gallery-btn" onclick="scrollGallery3(1)">&#10095;</button>
        </div>
      </div>

      {{!-- Bursary & Scholarship Awards --}}
      <div class="col-12 fade_right" style="margin-top:50px;">
        <p class="test_title_child d-flex justify-content-start" style="text-align: center;">Bursary &amp; Scholarship
          Awards</p>
        <hr class="" style="width:100px; height:1px; border-bottom: 2px solid #ff0000; z-index:1; margin-left:6%;">
      </div>
      <div class="col-12">
        <div class="gallery-container ">
          <!-- Scroll Left Button -->
          <button class="scroll-gallery-btn left-gallery-btn" onclick="scrollGallery4(-1)">&#10094;</button>

          <!-- Scrollable Image Gallery -->
          <div class="scrolling-wrapper gallery4">
            <a class="gallery-item-link" href="/img/recognitions/certificates/secondary/mayflower_2020_merit.jpeg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/secondary/mayflower_2020_merit.jpeg"
                alt="Image 1">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/secondary/mayflower_2018_scholar.jpeg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/secondary/mayflower_2018_scholar.jpeg"
                alt="Image 2">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/secondary/mayflower_2017_scholar.jpeg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/secondary/mayflower_2017_scholar.jpeg"
                alt="Image 3">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/secondary/mayflower_2016_merit.jpeg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/secondary/mayflower_2016_merit.jpeg"
                alt="Image 4">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/secondary/mayflower_2016_academic.jpeg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/secondary/mayflower_2016_academic.jpeg"
                alt="Image 5">
            </a>
          </div>

          <!-- Scroll Right Button -->
          <button class="scroll-gallery-btn right-gallery-btn" onclick="scrollGallery4(1)">&#10095;</button>
        </div>
      </div>

      {{!-- CCA Awards --}}
      <div class="col-12 fade_right" style="margin-top:50px;">
        <p class="test_title_child d-flex justify-content-start" style="text-align: center;">CCA Awards</p>
        <hr class="" style="width:100px; height:1px; border-bottom: 2px solid #ff0000; z-index:1; margin-left:6%;">
      </div>
      <div class="col-12">
        <div class="gallery-container ">
          <!-- Scroll Left Button -->
          <button class="scroll-gallery-btn left-gallery-btn" onclick="scrollGallery5(-1)">&#10094;</button>

          <!-- Scrollable Image Gallery -->
          <div class="scrolling-wrapper gallery5">
            <a class="gallery-item-link" href="/img/recognitions/certificates/secondary/mayflower_2018_eagles.jpg"
              target="_blank">
              <img class="gallery-item" src="/img/recognitions/certificates/secondary/mayflower_2018_eagles.jpg"
                alt="Image 1">
            </a>
            <a class="gallery-item-link" href="/img/recognitions/certificates/secondary/mayflower_npcc.jpeg"
              target="_blank">
              <img class="gallery-item2" style="width: 720px;"
                src="/img/recognitions/certificates/secondary/mayflower_npcc.jpeg" alt="Image 2">
            </a>

          </div>

          <!-- Scroll Right Button -->
          <button class="scroll-gallery-btn right-gallery-btn" onclick="scrollGallery5(1)">&#10095;</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  function scrollGallery1(direction) {
    const container = document.querySelector('.gallery1');
    let gallery_item = document.querySelector(".gallery1 .gallery-item");
    let gallery_item_width = window.getComputedStyle(gallery_item).width;
    const scrollAmount = parseInt(gallery_item_width.split("px")[0]) + 30; // Adjust scroll step

    container.scrollBy({ left: direction * scrollAmount, behavior: 'smooth' });
  }

  function scrollGallery2(direction) {
    const container = document.querySelector('.gallery2');
    let gallery_item = document.querySelector(".gallery2 .gallery-item");
    let gallery_item_width = window.getComputedStyle(gallery_item).width;
    const scrollAmount = parseInt(gallery_item_width.split("px")[0]) + 30; // Adjust scroll step

    container.scrollBy({ left: direction * scrollAmount, behavior: 'smooth' });
  }

  function scrollGallery3(direction) {
    const container = document.querySelector('.gallery3');
    let gallery_item = document.querySelector(".gallery3 .gallery-item2");
    let gallery_item_width = window.getComputedStyle(gallery_item).width;
    console.log(gallery_item_width)
    const scrollAmount = parseInt(gallery_item_width.split("px")[0]) + 30; // Adjust scroll step

    container.scrollBy({ left: direction * scrollAmount, behavior: 'smooth' });
  }

  function scrollGallery4(direction) {
    const container = document.querySelector('.gallery4');
    let gallery_item = document.querySelector(".gallery4 .gallery-item");
    let gallery_item_width = window.getComputedStyle(gallery_item).width;
    const scrollAmount = parseInt(gallery_item_width.split("px")[0]) + 30; // Adjust scroll step

    container.scrollBy({ left: direction * scrollAmount, behavior: 'smooth' });
  }

  function scrollGallery5(direction) {
    const container = document.querySelector('.gallery5');
    let gallery_item = document.querySelector(".gallery5 .gallery-item");
    let gallery_item_width = window.getComputedStyle(gallery_item).width;
    console.log(gallery_item_width)
    const scrollAmount = parseInt(gallery_item_width.split("px")[0]) + 30; // Adjust scroll step

    container.scrollBy({ left: direction * scrollAmount, behavior: 'smooth' });
  }

</script>