/*---------------------- Main ---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    font-family: sans-serif;
    font-family: Verdana;
    font-weight: 400;
    color: white;
    scroll-behavior: smooth;

}

html,
body {
    background-color: #242424;
}



/*---------------------- Title, Title Body ---------------------- */

.bg-container {
    background-image: url(../img/bg.png);
}

#particle_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    /* background-color: red; */
}

.hide_title {
    visibility: hidden;
    opacity: 0;
    transition: opacity 350ms ease-in, visibility 0ms ease-in 250ms;
}

.show_title {
    visibility: visible;
    opacity: 1;
    transition: opacity 350ms ease-in, visibility 0ms ease-in 0ms;
}

.index_title {
    padding-top:14%;
    height: 30svh;
}

.index_title_link{
    text-decoration: none;
}

.index_title_link:hover{
    transition: 0.5s;
    font-size: 30px;
}


.index_title_body{
    position: relative;
    font-size: 20px;
    letter-spacing: 5px;
    color:#ecebeb;
    font-family: 'Libre Baskerville';
    z-index: 1;

}



/*---------------------- Moon, Cloud, Mountian ---------------------- */
.moon {
    position: relative;
    background-position: 90% center;
    width: 15%;
    height: auto;
    left: 10%;
    bottom: 50px;
}


.cloud {
    position: absolute;
    top: 50%;
    right: 15%;
    width: 10%;
    height: auto;
}

.cloud_2 {
    position: absolute;
    top: 25%;
    right: 80%;
    width: 6%;
    height: auto;
}

.mountian_image_container {
    position: relative;
    width: 100%;
    height: auto;
}

.mountian_p1 {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 70%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 70%);
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
}

.mountian_p2 {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 00px;
    right: 0;
}

.autozoom {
    animation: autozoom_animation both;
    animation-timeline: view(60% 50%);
}

@keyframes autozoom_animation {
    from {
        opacity: 0;

        transform: translateY(-30px) scale(1);
    }

    to {
        opacity: 1;
        transform: translateY(-70px) scale(0.5);
    }
}

.fade_up {
    animation: fade_up_animation both;
    animation-timeline: view(100% 0%);
}

@keyframes fade_up_animation {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(-300px);
    }
}

.fade_up_bg {
    animation: fade_up_animation2 both;
    animation-timeline: view(20% 20%);
}

@keyframes fade_up_animation2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/*---------------------- About Me ---------------------- */

.fade_up_aboutMe {
    animation: fade_up_aboutMe_animation both;
    animation-timeline: view(55% 20%);
}

@keyframes fade_up_aboutMe_animation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade_up_aboutMe_Desc {
    animation: fade_up_aboutMe_animation2 both;
    animation-timeline: view(65% 20%);
}

@keyframes fade_up_aboutMe_animation2 {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.aboutMe {
    font-family: 'Georgia';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(62, 62, 62);
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.aboutMe_Desc {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgb(44, 44, 44);
    position: absolute;
    top: 48%;
    width: 100%;
    text-align: center;
    padding: 0 10%;
    margin-bottom: 50px;
}

.sponge_icon {
    width: 30px;
    opacity: 0.8;
}

.ocbc_icon {
    width: 100%;
    height: auto;
}

.ocbc_icon_holder {
    padding: 10px;
}

.myAchievementsBtn {
    /* hyperlink btn */
    color: rgb(207, 107, 107);
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.myAchievementsBtn:after {
    display: block;
    content: '';

    border-bottom: solid 2px rgb(207, 107, 107);
    transform: scaleX(0) scaleY(0);
    transition: transform 350ms ease-in-out;
    transform-origin: 100% 50%
}

.myAchievementsBtn:hover:after {
    font-weight: 600;
    transform: scaleX(1) scaleY(1);
    transform-origin: 0 50%;
}

.cloud_3 {
    position: absolute;
    top: 96%;
    left: 10%;
    width: 8%;
    height: auto;
}

.cloud_4 {
    position: absolute;
    top: 86%;
    left: 70%;
    width: 7%;
    height: auto;
}


/* ---------------------- My Achievements ---------------------- */
.myAchievements {
    margin-top: 5%;
    padding: 20px;
    text-align: center;
}

.achieve_head_title {
    font-family: 'Georgia';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(62, 62, 62);
    opacity: 1;
    text-align: center;

    animation: fade_up_achieve_head_title_animation both;
    animation-timeline: view(55% 20%);
}

@keyframes fade_up_achieve_head_title_animation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.book {
    border-radius: 2px;
    width: 160px;
    height: 230px;
    background-color: rgb(240, 238, 238);
    -webkit-box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cover {
    top: 0;
    position: absolute;
    /* background-color: #667481; */
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cover-img1 {
    background-image: url('/img/book-covers/Book-Cover1.png');
    background-size: cover;
}

.cover-img2 {
    background-image: url('/img/book-covers/Book-Cover2.png');
    background-size: cover;
}

.cover-img3 {
    background-image: url('/img/book-covers/Book-Cover3.png');
    background-size: cover;
}

.cover-img4 {
    background-image: url('/img/book-covers/Book-Cover4.png');
    background-size: cover;
}

.cover-img5 {
    background-image: url('/img/book-covers/Book-Cover5.png');
    background-size: cover;
}

.cover-img6 {
    background-image: url('/img/book-covers/Book-Cover6.png');
    background-size: cover;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.bookDesc,
.coverDesc {
    padding-left: 25px;
    font-size: 13px;
    color: #616161;
    font-weight: 500;
}

.fade_up_book {
    animation: fade_up_book_animation both;
    animation-timeline: view(85% 20%);
}

@keyframes fade_up_book_animation {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ---------------------- My Achievements (TESTING) ---------------------- */
.book_1 {
    position: relative;
    border-radius: 1px;
    width: 180px;
    height: 250px;
    background-color: rgb(240, 238, 238);
    -webkit-box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    transition-duration: 0.5s;
}

.cover_1,
.inner {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book_1:hover .cover_1 {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(50deg);
    -ms-transform: rotatey(50deg);
    transform: rotatey(-50deg);
}

.inner {
    transform-origin: 100%;
}

.book_1:hover .inner {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotateZ(15deg) rotateX(-10deg) rotateY(-10deg) translateX(130px);
    -ms-transform: rotateZ(15deg) rotateX(-10deg) rotateY(-10deg) translateX(130px);
    transform: rotateZ(15deg) rotateX(-10deg) rotateY(-10deg) translateX(130px);
    -webkit-box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
    box-shadow: -9px 10px 33px 1px rgba(135, 135, 135, 0.59);
}

.book_1:hover {
    transform: rotateZ(-10deg);
}

.text_1 {
    font-size: 15px;
    font-weight: 200;
    color: #616161;
    letter-spacing: 1px;
}

/* ---------------------- My Achievements (END TESTING) ---------------------- */


/* ---------------------- My Recognitions ---------------------- */

.myRecog_topfade {
    height: 70px
}

.aTestimonial {
    margin: 25px;
    box-shadow: 20px 20px 60px #d0d0d0,
        -20px -20px 60px #ffffff;
    height: 79%;
    width: auto;
}

.aTestimonial:hover {
    transform: scale(1.06);
    transition: 0.7s ;
}

.dots {
    align-self: end;
    width: 60px;
    height: auto;
}


.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 26px;
    border-radius: 0px;
    box-shadow: 3px 3px 30px 7px #ddd;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    border: 1px solid rgb(177, 192, 221);
}

.animated-button-left {
    top: -51%;
    left: 90%;
}

.animated-button-right {
    top: -32%;
    left: -11.5%;
}

.animated-button img {
    position: absolute;
    width: 13px;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    color: rgb(232, 238, 250);
}

.animated-button .arr-1a {
    right: -25%;
}

.animated-button .arr-2a {
    left: 16px;
}

.animated-button:hover .arr-1a {
    right: 16px;
}

.animated-button:hover .arr-2a {
    left: -25%;
}


.animated-button .arr-1b {
    right: 16px;
}

.animated-button .arr-2b {
    left: -25%;
}

.animated-button:hover .arr-1b {
    right: -25%;
}

.animated-button:hover .arr-2b {
    left: 16px;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(177, 192, 221);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 12px;
    font-weight: 500;
    color: rgb(80, 89, 105);
}

.animated-button .left {
    transform: translateX(12px);
}

.animated-button .right {
    transform: translateX(-12px);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    border-radius: 12px;
}

.animated-button:hover .left {
    transform: translateX(-12px);
}

.animated-button:hover .right {
    transform: translateX(12px);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

.fade_left{
    animation: fade_left_animation both;
    animation-timeline: view(70% 20%);
}

@keyframes fade_left_animation {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.fade_right{
    animation: fade_right_animation both;
    animation-timeline: view(70% 20%);
}

@keyframes fade_right_animation {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/*-------------------------------------------------- Timeline -------------------------------------------------- */


.timeline {
    /* background: linear-gradient(180deg, #9164ff, #8bfff4); */
    color: #3c3f64;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 50px;
    position: relative;
}

.timeline::before,
.timeline::after {
    content: "";
    background-image: url('/img/lava_ash.png');
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Second layer starts off-screen */
.timeline::after {
    top: -100%;
    /* Start above the visible area */
}

.timeline::before {
    animation: infiniteScroll 80s linear infinite;
}

.timeline::after {
    animation: infiniteScroll 80s linear infinite;
}

@keyframes infiniteScroll {
    0% {
        transform: translateY(0) rotateX(0deg) rotateY(0deg) scale(1);
    }

    100% {
        transform: translateY(100%) rotateX(30deg) rotateY(15deg) scale(1.5);
    }
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #eee;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 650px;
    padding: 20px;
    background: #fff;
    color: #242424;
    font-size: 13px;
    font-style: 'Titillium Web', sans-serif;
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.timeline ul li div time {
    position: absolute;
    background: #f5af19;
    width: 100px;
    height: 30px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timeline ul li div div {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline ul li div div p {
    color: #242424;
    text-align: center;
}

.timeline ul li div div span {
    color: #242424;
    text-align: center;
}

.timeline ul li div .discovery {
    margin-right: 10px;
}

.timeline ul li:nth-of-type(odd)>div {
    left: 45px;
}

.timeline ul li:nth-of-type(even)>div {
    left: -689px;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1420px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: 650px;
        font-size: 10px;
        flex-direction: column;
    }

    .timeline ul li div h4 {
        font-size: 20px;
        text-align: left;
    }

    .timeline ul li div div {
        width: 95%;
        margin: 11px;
    }

    .timeline ul li:nth-of-type(even)>div {
        left: 45px;
    }
}

@media screen and (max-width: 800px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 191px);
    }

}

@media screen and (max-width: 450px) {
    .timeline ul li {
        margin-left: 0px;
    }

    .timeline ul li div div {
        width: 99.5%;
        margin: 11px;
        padding: 15px;
    }

    .timeline ul li div {
        width: calc(100vw - 100px);
    }
}

@media screen and (max-width: 400px) {

    .timeline ul li div div h4 {
        font-size: 18px;
    }

}

.smoke_bg {
    height: 1000px;
}

.smoke1 {
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
}

.fade_up_smoke {
    animation: fade_up_smoke_animation both;
    animation-timeline: view(100% 20%);
}



@keyframes fade_up_smoke_animation {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 1;
        transform: translateY(-300px);
    }
}

.lava_ash {
    background: linear-gradient(180deg, rgba(244, 216, 216), rgb(211, 128, 156));
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    padding: 0;
}

.lava_puddle {
    width: 38%;
    height: auto;
    position: relative;
    left: 60px;
    top: -100px;
    padding: 0;

}

.lava_ball1 {
    width: 5%;
    height: auto;
    position: absolute;
    left: 26%;

    padding: 0;
}

.lava_ball2 {
    width: 3%;
    height: auto;
    position: absolute;
    left: 17%;
    padding: 0;
}

.lava_ball3 {
    width: 5%;
    height: auto;
    position: absolute;
    left: 20%;
    transform: translateY(50px);
    padding: 0;
}

.lava_ball4 {
    width: 3%;
    height: auto;
    position: absolute;
    left: 19%;
    padding: 0;
    top: 15%;
}




/*-------------------------------------------------- END Timeline -------------------------------------------------- */




/*-------------------------------------------------- Start TESTING -------------------------------------------------- */


.smoke2 {
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
}

.project_title {
    color: #ffffff;
    position: relative;
    top: -90px;
}

.aProject {
    position: relative;
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 19px;
    border: 0;
    background: linear-gradient(145deg, #474445, #555152);
    box-shadow: 29px 29px 67px #353334, -29px -29px 67px #696566;
}

.aProject_image {
    width: 100%;
    height: 100%;
    filter: brightness(80%);
}

.aProject:hover {
    background: linear-gradient(225deg, #474445, #555152);
    box-shadow: -30px 30px 60px #242223,
        30px -30px 60px #7a7677;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.aProject_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 19px;
}

.aProject:hover .aProject_content {
    transform: rotateX(0deg);
}

.aProject_title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}


.aProject_description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
}

/* Button */
.prod_button {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #333;
    padding: 0.7em 1.6em;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0.5em;
    margin-top: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    text-decoration: none;
}

.prod_button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.prod_button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.prod_button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.prod_button:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.prod_button:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.prod_button:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}




/*-------------------------------------------------- END TESTING -------------------------------------------------- */




/*-------------------------------------------------- RESPONSIVENESS -------------------------------------------------- */

/* X-Large devices (large desktops, less than 1599.98px) */
@media screen and (max-width: 1599.98px) {
    .smoke_bg {
        height: 780px;
    }

}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {
    .moon {
        transform: translateX(60px);
    }

    .smoke_bg {
        height: 700px;
    }


    .lava_puddle {
        width: 38%;
        left: 10%;
        top: 20px;
    }

    .lava_ball1 {
        width: 5%;
        left: 30%;
        bottom: 6%;
    }

    .lava_ball2 {
        width: 3%;
        left: 22%;
        bottom: 8%;
    }

    .lava_ball3 {
        width: 5%;
        left: 24%;
        bottom: 8%;
    }

    .cloud_3 {
        top: 90%;
        left: 10%;
        width: 6%;
    }

    .cloud_4 {
        top: 80%;
        left: 70%;
        width: 6%;
    }

    .animated-button-left {
        top: -51%;
        left: 88.5%;
    }

    .animated-button-right {
        top: -32%;
        left: -13%;
    }



}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1350.98px) {
    @keyframes fade_up_animation {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }

        to {
            opacity: 1;
            transform: translateY(-200px);
        }
    }
    .cloud_3 {
        top: 85%;
        left: 10%;
        width: 6%;
    }

    .cloud_4 {
        top: 75%;
        left: 70%;
        width: 6%;
    }



}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {
    .moon {
        visibility: hidden;
        opacity: 0;
        transition: opacity 350ms ease-in, visibility 0ms ease-in 250ms;
    }

    @keyframes fade_up_animation {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }

        to {
            opacity: 1;
            transform: translateY(-200px);
        }
    }

    .cloud_3 {
        top: 80%;
        left: 10%;
        width: 6%;
    }

    .cloud_4 {
        top: 70%;
        left: 70%;
        width: 6%;
    }

    .smoke_bg {
        height: 600px;
    }

    @keyframes fade_up_smoke_animation {
        from {
            opacity: 1;
            transform: translateY(0px);
        }

        to {
            opacity: 1;
            transform: translateY(-200px);
        }
    }
    #myTestimonials{
        padding-bottom:30px;
    }

    .animated-button-left {
        top: -51%;
        left: 87%;
    }

    .animated-button-right {
        top: -32%;
        left: -15.5%;
    }

    .animated-button .text {
        font-size: 11px;
        font-weight: 500;
    }

    .animated-button img {
        width: 12px;
    }

}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
    @keyframes fade_up_animation {
        from {
            opacity: 0;
            transform: translateY(0px);
        }

        to {
            opacity: 1;
            transform: translateY(50px);
        }
    }

    .index_title_body {
        font-size: 17px;
    }

    .moon {
        transform: translateX(90px);
    }

    .mountian_p1 {
        bottom: 170px;
    }

    .mountian_p2 {
        bottom: 200px;
    }

    .index_title {
        padding-top:19%;
        height: 30svh;
    }

    .cloud {
        top: 40%;
        right: 15%;
    }
    
    .cloud_2 {
        top: 15%;
        right: 40%;
    }

    .cloud_3 {
        top: 70%;
        left: 10%;
        width: 6%;
    }

    .cloud_4 {
        top: 65%;
        left: 75%;
        width: 6%;
    }

    .sponge_icon {
        width: 27px;
        opacity: 0.8;
    }

    .aboutMe {
        font-size: 28px;
        top: 20%;
    }

    .aboutMe_Desc {
        font-size: 14px;
        top: 45%;
    }

    .smoke_bg {
        height: 500px;
    }

    @keyframes fade_up_smoke_animation {
        from {
            opacity: 1;
            transform: translateY(0px);
        }

        to {
            opacity: 1;
            transform: translateY(-100px);
        }
    }

    .lava_puddle {
        opacity: 0;
    }

    .lava_ball1 {
        opacity: 0;
    }

    .lava_ball2 {
        opacity: 0;
    }

    .lava_ball3 {
        opacity: 0;
    }

    .myRecog_topfade {
        height: 0px
    }

    .animated-button-left {
        top: -40%;
        left: 81%;
    }

    .animated-button-right {
        top: -43%;
        left: 81.5%;
    }


}


/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 896.98px) {
    .cloud_3 {
        top: 65%;
        opacity: 0;
    }

    .cloud_4 {
        top: 61%;
        opacity: 0;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    .mountian_p1 {
        height: 350px;
        bottom: 110px;
    }

    .mountian_p2 {
        height: 350px;
        bottom: 140px;
    }

    .index_title {
        padding:27% 30px 0 30px;
        height: 30svh;
    }

    .cloud {
        top: 40%;
        right: 15%;
    }
    
    .cloud_2 {
        top: 13%;
        right: 40%;
    }

    .sponge_icon {
        width: 25px;
        opacity: 0.8;
    }

    .aboutMe {
        font-size: 24px;
        top: 40%;
    }

    .aboutMe_Desc {
        font-size: 12px;
        top: 58%;
    }

    .smoke_bg {
        height: 400px;
    }

    /* #myTestimonials {
        height: 140px;
    } */

    #myCerts {
        height: 140px;
    }

    .animated-button-left {
        top: -76%;
        left: 41%;
    }

    .animated-button-right {
        top: -43%;
        left: 79.5%;
    }

}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 694.98px) {
    .animated-button-left {
        top: -72%;
        left: 41%;
    }

    .animated-button-right {
        top: -43%;
        left: 77.5%;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .index_title {
        padding:27% 30px 0 30px;
    }

    .index_title_body {
        font-size: 14px;
    }

    .cloud {
        right: 20%;
    }

    .cloud_2 {
        right: 45%;
    }

    .cloud_3 {
        left: 50%;

    }

    .cloud_4 {
        left: 50%;
    }

    .sponge_icon {
        width: 18px;
        opacity: 0.8;
    }

    .aboutMe {
        font-size: 24px;
        top: 35%;
    }

    .aboutMe_Desc {
        font-size: 12px;
        top: 52%;
    }

    .fade_up_bg {
        animation: 0;
    }

    .smoke_bg {
        height: 300px;
    }

    #myTestimonials{
        padding-bottom:50px;
    }

    .animated-button-left {
        top: -87.5%;
        left: 36.5%;
    }

    .animated-button-right {
        top: -85.5%;
        left: 38%;
    }

    .aTestimonial {
        position: relative;
        display: flex;
        align-items: center;
        width:50%;
    }

}

/* XX-Small devices (portrait phones, less than 450) */
@media screen and (max-width: 450px) {
    .index_title {
        padding:37% 40px 0 40px;
    }

    .index_title_body {
        font-size: 12px;
    }

    .mountian_p1 {
        bottom: 40px;
    }

    .mountian_p2 {
        bottom: 60px;
    }

    .aboutMe {
        top: 65%;
    }

    .aboutMe_Desc {
        top: 82%;
    }

    .myAchievements_container {
        padding-top: 160px;
    }

    .cloud {
        top: 40%;
        right: 20%;
    }

    .cloud_2 {
        right: 35%;
        top: 17%;
    }

    .smoke_bg {
        height: 180px;
    }

    .animated-button-left {
        top: -85.5%;
        left: 32%;
    }

    .animated-button-right {
        top: -83.5%;
        left: 35%;
    }

}

/* XXX-Small devices (portrait phones, less than 400) */
@media screen and (max-width: 400px) {
    .index_title {
        padding-top:45%;
    }

    .cloud {
        top: 40%;
        right: 20%;
    }

    .cloud_2 {
        right: 35%;
        top: 17%;
    }

    .smoke_bg {
        height: 180px;
    }

    .animated-button-left {
        top: -83%;
        left: 30%;
    }

    .animated-button-right {
        top: -82%;
        left: 30%;
    }

}