<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Sankofa Display' rel='stylesheet'>
<div class="bg-container">
  {{!-- Section 1 Intro Screen --}}
  <div class="container" style="padding:0%;">
    <canvas id="particle_canvas"></canvas>
    <div class="row " style="margin: 10% 0px 0px 0px;">
      <div class="col-12">

        <div class="index_title" id="index_title">
          <span class="index_title_header">HELLO!</span><br>
          <span class="index_title_body">I'm <strong style="letter-spacing: 3px">Lerwin</strong>, an aspiring creative
            Front, Back-End Developer &amp; Data Analyst whilst adopting a
            <br>curious mindset <img class="" src="/img/icons/smile.png" style="width: 32px; opacity: 0.8;"
              alt="smiley face">.</span>
        </div>

        <img class="cloud" src="/img/cloud_1.png" alt="">
        <img class="cloud_2" src="/img/cloud_2.png" alt="">
      </div>
    </div>
  </div>
  {{!-- add a hyperlink --}}
  <img class="moon autozoom" src="/img/moon.png" alt="">
  <div class="mountian_image_container "
    style="background: linear-gradient(to top, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 70%);">
    <img class="mountian_p1 fade_up" src="/img/mountian_p1.png" alt="" style="">
    <img class="mountian_p2 fade_up" src="/img/mountian_p2.png" alt="">

    {{!-- Section 2 About Me --}}
    <p class="aboutMe fade_up_aboutMe" id="myAboutMe">Alil More About Me..</p>
    <p class="aboutMe_Desc fade_up_aboutMe_Desc">I graduated from Nanyang Polytechnic (NYP), topping my cohort 2023. I'd
      like to identify myself as a sponge!
      <img class="sponge_icon" src="/img/icons/sponge.png" alt="sponge face"> I absorb knowledge like no other in
      regards to
      coding &amp; programming.
      Therefore i'd say i am pretty much a Tech Enthusiast! Backed by <a href="#myAchievements"><span
          class="myAchievementsBtn">My
          Achievements</span></a>, i have earned my spot in the IT space, and i hope i can make a difference with my
      knowledge in this space as well!
    </p>
  </div>
</div>
{{!-- Section 3 My Achievements --}}
<div class="container-fluid" style="background: rgb(255, 255, 255);">
  <div class="row justify-content-center">
    <div class="col-12">
      <p class="achieve_head_title" id="myAchievements">My Achievements</p>
      <img class="cloud_3 fade_up_bg" src="/img/cloud_1.png" alt="">
      <img class="cloud_4 fade_up_bg" src="/img/cloud_2.png" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements">
      <div class="book fade_up_book">
        <p class="bookDesc"><img style="height:55px; width:auto; margin-bottom:30px;" src="/img/ocbc_gold_medal.png"
            alt=""> <br> For Outstanding Academic Performance.</p>
        <div class="cover cover-img1">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements">
      <div class="book fade_up_book">
        <p class="bookDesc" style="text-align:left; padding-left:32px;">Top 1,<br> Perfect 4.0 GPA, Diploma In Business
          &amp; Financial Technology.</p>
        <div class="cover cover-img2">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements">
      <div class="book fade_up_book">
        <p class="bookDesc"><img style="height:auto; width:100px; margin-bottom:50px;" src="/img/scs.png" alt=""> <br>
          For Outstanding Project Work.</p>
        <div class="cover cover-img3">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements">
      <div class="book fade_up_book">
        <p class="bookDesc">For all 6 consecutive semesters &amp; attaining 28 distinctions out of 32 modules.</p>
        <div class="cover cover-img4">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements">
      <div class="book fade_up_book">
        <p class="bookDesc" style="text-align:left; padding-left:32px;">Participated &amp; Represented NYP in pitching
          ideas and developing FinTech prototypes to address real world problems</p>
        <div class="cover cover-img5">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements">
      <div class="book fade_up_book">
        <p class="bookDesc" style="text-align:left; padding-left:32px;">1.<br>Machine Data Analytics &amp; OP
          Intelligence<br>2.<br>RPA Development<br>3.<br>APP Development With Swift</p>
        <div class="cover cover-img6">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="smoke_bg" style="background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgb(244, 216, 216) 60%);">
  <div class="fade_up_smoketest">
    <img class="smoketest" src="/img/smoke.png" alt="" style="">
  </div>
</div>

<div style="background: linear-gradient(180deg, rgba(244, 216, 216) 30%, rgba(244, 216, 216) 60%); height:90px;">
  <p class="achieve_head_title timline_title" id="myTimeline">&nbsp; T I M E L I N E</p>
</div>
<div class="lava_ash">
  <div class="container-fluid timeline ">
    <ul>
      <li> <!-- item -->
        <div>
          <time>2014</time>
          <div class="discovery">
            <h4>Da Qiao Primary School</h4>
            <p>
              Graduated with 180/300 – hit a breaking point, still a bit clueless, and maybe had a little too much fun
              <img class="" src="/img/icons/guilty.png" style="width: 22px; opacity: 1;" alt="!">
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2018</time>
          <div class="discovery">
            <h4>Mayflower Secondary</h4>
            <p>
              Got into Normal Academic Stream (NA). Started to have clearer ambitions and goals that i wanted to
              achieve.
              <br>
              Graduated with Net 6 pointer. Took National Police Cabet Corps (NPCC) as a Co-corricular Activity, and
              peaked at Staff Sergeant Rank.
              Attained Edusave Scholarship Award 2017 &amp; 2018 and Edusave Eagles Award 2018.
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2023</time>
          <div class="discovery">
            <h4>Nanyang Polytechnic</h4>
            <p>
              With a clear goal and a burning passion for IT, I took on Business &amp; Financial Technology and led the
              way to excel in the course.
              <br>
              Graduated with perfect 4.0 GPA, scoring 28 Disctintions &amp; 4 As out of 32 modules.
            </p>
          </div>
          <div class="discovery">
            <h4>Proctor &amp; Gamble</h4>
            <p>
              Interned as an Associate Researcher at P&G. During my time there, I have successfully curated a text &
              object detection model, backed by sophisticated algorithms to accurately identify specific brands and
              product from an image.
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2023</time>
          <div class="discovery">
            <h4>Part-Timed @ Create Lab Pte Ltd</h4>
            <p>
              At Create Lab, a top Singapore startup, I actively contributed by teaching, leading, and managing classes,
              with a highlight being my role as lead instructor at a successful programming camp.
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2025</time>
          <div class="discovery">
            <h4>National Service</h4>
            <p>
              Reached the age where i had to serve the nation and protect Singapore!
              <br>
              Did well in Basic Military Training (BMT) and got into Specialist Cadet School (SCS), achieving the rank
              of
              3rd Sergeant in the Singapore Army Forces (SAF). Currently leading a section size of 6-7 men.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <img class="lava_puddle" src="/img/lava_puddle1.png" alt="" style="">
    <img class="lava_ball1" src="/img/lava_ball.png" alt="" style="">
    <img class="lava_ball2" src="/img/lava_ball2.png" alt="" style="">
    <img class="lava_ball3" src="/img/lava_ball2.png" alt="" style="">
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>