<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Sankofa Display' rel='stylesheet'>
<div class="bg-container">
  {{!-- Section 1 Intro Screen --}}
  <div class="container" style="padding:0%;">
    <canvas id="particle_canvas"></canvas>
    <div class="row " style="margin: 10% 0px 0px 0px;">
      <div class="col-10">
        <div class="index_title" id="index_title">
          <span class="index_title_header">HELLO!</span><br>
          <span class="index_title_body">I'm <strong style="letter-spacing: 3px">Lerwin</strong>, an aspiring creative
            Front, Back-End Developer &amp; Data Analyst <img class="" src="/img/icons/smile.png"
              style="width: 32px; opacity: 0.8;" alt="smiley face">.</span>
        </div>
        <img class="cloud" src="/img/cloud_1.png" alt="">
        <img class="cloud_2" src="/img/cloud_2.png" alt="">
      </div>
    </div>
  </div>
  {{!-- add a hyperlink --}}
  <img class="moon autozoom" src="/img/moon.png" alt="">
  <div class="mountian_image_container "
    style="background: linear-gradient(to top, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 70%);">
    <img class="mountian_p1 fade_up" src="/img/mountian_p1.png" alt="" style="">
    <img class="mountian_p2 fade_up" src="/img/mountian_p2.png" alt="">

    {{!-- Section 2 About Me --}}
    <p class="aboutMe fade_up_aboutMe" id="myAboutMe">Alil More About Me..</p>
    <p class="aboutMe_Desc fade_up_aboutMe_Desc">I graduated from Nanyang Polytechnic (NYP), topping my cohort 2023. I'd
      like to identify myself as a sponge!
      <img class="sponge_icon" src="/img/icons/sponge.png" alt="sponge face"> I absorb knowledge like no other in
      regards to
      coding &amp; programming.
      Therefore i'd say i am pretty much a Tech Enthusiast! Backed by <a href="#myAchievements"><span
          class="myAchievementsBtn">My
          Achievements</span></a>, i have earned my spot in the IT space, and i hope i can make a difference with my
      knowledge in this space as well!
    </p>
  </div>
</div>

{{!-- Section 3 My Achievements --}}
<div class="container-fluid myAchievements_container" style="background: rgb(255, 255, 255); padding-bottom:30px;">
  <div class="row ">
    <div class="col-12 ">
      <p class="achieve_head_title" id="myAchievements">My Achievements</p>
      <img class="cloud_3 fade_up_bg" src="/img/cloud_1.png" alt="">
      <img class="cloud_4 fade_up_bg" src="/img/cloud_2.png" alt="">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements d-flex justify-content-center" style="">
      <div class="book fade_up_book">
        <p class="bookDesc"><img style="height:55px; width:auto; margin-bottom:30px;" src="/img/ocbc_gold_medal.png"
            alt=""> <br> For Outstanding Academic Performance.</p>
        <div class="cover cover-img1">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements d-flex justify-content-center">
      <div class="book fade_up_book">
        <p class="bookDesc" style="text-align:left; padding-left:32px;">Top 1,<br> Perfect 4.0 GPA, Diploma In Business
          &amp; Financial Technology.</p>
        <div class="cover cover-img2">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements d-flex justify-content-center">
      <div class="book fade_up_book">
        <p class="bookDesc"><img style="height:auto; width:100px; margin-bottom:50px;" src="/img/scs.png" alt=""> <br>
          For Outstanding Project Work.</p>
        <div class="cover cover-img3">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements d-flex justify-content-center">
      <div class="book fade_up_book">
        <p class="bookDesc">For all 6 consecutive semesters &amp; attaining 28 distinctions out of 32 modules.</p>
        <div class="cover cover-img4">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements d-flex justify-content-center">
      <div class="book fade_up_book">
        <p class="bookDesc" style="text-align:left; padding-left:32px;">Participated &amp; Represented NYP in pitching
          ideas and developing FinTech prototypes to address real world problems</p>
        <div class="cover cover-img5">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements d-flex justify-content-center">
      <div class="book fade_up_book">
        <p class="bookDesc" style="text-align:left; padding-left:32px;">1.<br>Machine Data Analytics &amp; OP
          Intelligence<br>2.<br>RPA Development<br>3.<br>APP Development With Swift</p>
        <div class="cover cover-img6">
          <p class="coverDesc"></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 myAchievements d-flex justify-content-center fade_up_book">
      <div class="book book_1 ">
        <p class="text_1">View</p>
        <div class="inner">
          <p class="bookDesc" style="text-align:left; padding-left:32px;">1.<br>Machine Data Analytics &amp; OP
            Intelligence<br>2.<br>RPA Development<br>3.<br>APP Development With Swift</p>
        </div>
        <div class="cover_1 cover-img6">
        </div>
      </div>
    </div>

  </div>
</div>

{{!-- Section 4 My Recognitions --}}
<div class="container-fluid ">
  <div class="row ">
    <div class="col-lg-6 col-sm-12" style="padding: 0; background:rgb(255, 255, 255);">
    </div>
    <div class="col-lg-6 col-sm-12 myRecog_topfade"
      style="padding: 0; background: linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(232,238,250) 90%);  ">
    </div>
  </div>
</div>


<div class="container-fluid myAchievements_container" style="background: rgb(255, 255, 255); overflow:hidden;">
  
  <div class="row ">
    <div class="col-lg-6 col-sm-12" style="padding: 0;">
      <p class="achieve_head_title" id="myTestimonials" style="padding-top:30px;">TESTIMONIALS</p>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-4 d-flex justify-content-center" style="padding: 0;">
          <a class="aTestimonial" href="/img/recognitions/testimonials/mayflower_sec_p1.jpg" target="_blank">
          <img class="img-fluid recog_img" src="/img/recognitions/testimonials/mayflower_sec_p1.jpg" alt="">
          </a> 
        </div>
        <div class="col-lg-4 col-sm-4 d-flex justify-content-center" style="padding: 0;">
          <a class="aTestimonial" href="/img/recognitions/testimonials/Poly_testimonial.jpeg" target="_blank">
            <img class="img-fluid recog_img" src="/img/recognitions/testimonials/Poly_testimonial.jpeg" alt="">
          </a> 
        </div>
        <div class="col-lg-1 col-sm-1 d-flex justify-content-center" style="padding: 0;">
          <img class="dots" src="/img/3dots1.png">
        </div>
      </div>
      
      <button class="animated-button animated-button-left">
        <img class="arr-1a" src="/img/left_arrow.png">
        <span class="text left">TESTIMONIALS</span>
        <span class="circle"></span>
        <img class="arr-2a" src="/img/left_arrow.png">
      </button>
    </div>
    <div class="col-lg-6 col-sm-12" style="padding: 0 0 60px 0; background-color: #e8eefa;">
      <p class="achieve_head_title" id="myCerts" style="padding-top:30px;">CERTIFICATES</p>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-sm-4 d-flex justify-content-center" style="padding: 0;">
          <a class="aTestimonial" href="/img/recognitions/certificates/secondary/mayflower_2020_merit.jpeg" target="_blank">
            <img class="img-fluid recog_img" src="/img/recognitions/certificates/secondary/mayflower_2020_merit.jpeg" alt="">
          </a> 
        </div>
        <div class="col-lg-4 col-sm-4 d-flex justify-content-center" style="padding: 0;">
          <a class="aTestimonial" href="/img/recognitions/certificates/poly/dList y1s1.jpg" target="_blank">
            <img class="img-fluid recog_img" src="/img/recognitions/certificates/poly/dList y1s1.jpg" alt="">
          </a> 
        </div>
        <div class="col-lg-1 col-sm-1 d-flex justify-content-center" style="padding: 0;">
          <img class="dots" src="/img/3dots1.png">
        </div>
        
      </div>
      <button class="animated-button animated-button-right">
        <img class="arr-2b" src="/img/right_arrow.png">
        <span class="text right">CERTIFICATES</span>
        <span class="circle"></span>
        <img class="arr-1b" src="/img/right_arrow.png">
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ">
    <div class="col-lg-6 col-sm-12" style="padding: 0; background:rgb(255, 255, 255);">
    </div>
    <div class="col-lg-6 col-sm-12"
      style="padding: 0; background: linear-gradient(180deg, rgb(232,238,250) 30%, rgb(255, 255, 255) 90%);  height:50px">
    </div>
  </div>
</div>


{{!-- Section 5 My Timeline --}}
<div class="smoke_bg" style="background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgb(244, 216, 216) 90%);">
  <div class="fade_up_smoke">
    <img class="smoke1" src="/img/smoke.png" alt="" style="">
  </div>
</div>

<div style="background: linear-gradient(180deg, rgba(244, 216, 216) 30%, rgba(244, 216, 216) 90%); height:90px;">
  <p class="achieve_head_title timline_title" id="myTimeline">&nbsp; Where It All Started..</p>
</div>
<div class="lava_ash">
  <div class="container-fluid timeline ">
    <ul>
      <li> <!-- item -->
        <div>
          <time>2014</time>
          <div class="discovery">
            <h4>Da Qiao Primary</h4>
            <p>
              Graduated with 180/300 – hit a breaking point, still a bit clueless, and maybe had a little too much fun
              <img class="" src="/img/icons/guilty.png" style="width: 22px; opacity: 1;" alt="!">
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2018</time>
          <div class="discovery">
            <h4>Mayflower Secondary</h4>
            <p>
              Got into Normal Academic Stream (NA). Started to have clearer ambitions and goals that i wanted to
              achieve.
              <br>
              Graduated with Net 6 pointer. Took National Police Cabet Corps (NPCC) as a Co-corricular Activity, and
              peaked at Staff Sergeant Rank.
              Attained Edusave Scholarship Award 2017 &amp; 2018 and Edusave Eagles Award 2018.
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2023</time>
          <div class="discovery">
            <h4>Nanyang Polytechnic</h4>
            <p>
              With a clear goal and a burning passion for IT, I took on Business &amp; Financial Technology and led the
              way to excel in the course.
              <br>
              Graduated with perfect 4.0 GPA, scoring 28 Disctintions &amp; 4 As out of 32 modules.
            </p>
          </div>
          <div class="discovery">
            <h4>Proctor &amp; Gamble</h4>
            <p>
              Interned as an Associate Researcher at P&G. During my time there, I have successfully curated a text &
              object detection model, backed by sophisticated algorithms to accurately identify specific brands and
              product from an image.
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2023</time>
          <div class="discovery">
            <h4>Part-Timed @ Create Lab Pte Ltd</h4>
            <p>
              At Create Lab, a top Singapore startup, I actively contributed by teaching, leading, and managing classes,
              with a highlight being my role as lead instructor at a successful programming camp.
            </p>
          </div>
        </div>
      </li>
      <li> <!-- item -->
        <div>
          <time>2025</time>
          <div class="discovery">
            <h4>National Service</h4>
            <p>
              Reached the age where i had to serve the nation and protect Singapore!
              <br>
              Did well in Basic Military Training (BMT) and got into Specialist Cadet School (SCS), achieving the rank
              of
              3rd Sergeant in the Singapore Army Forces (SAF). Currently leading a section size of 6-7 men.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <img class="lava_puddle" src="/img/lava_puddle1.png" alt="" style="">
    <img class="lava_ball1" src="/img/lava_ball.png" alt="" style="">
    <img class="lava_ball2" src="/img/lava_ball2.png" alt="" style="">
    <img class="lava_ball3" src="/img/lava_ball2.png" alt="" style="">
  </div>
</div>

{{!-- Section 5 My Projects --}}
<div class="smoke_bg" style="background: linear-gradient(180deg, rgb(211, 128, 156) 20%, rgb(79, 76, 77) 90%);">
  <div class="fade_up_smoke">
    <img class="smoke2" src="/img/grey_smoke.png" alt="" style="">
  </div>
</div>
<div class="container-fluid" style="background: rgb(79, 76, 77); height:500px;">
  <div class="row ">
    <div class="col-12">
      <p class="achieve_head_title project_title" id="myProjects">&nbsp; P R O J E C T S</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-center">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 d-flex justify-content-center">
      <div class="card aProject">
        <img class="aProject_image" src="/img/projects/proctor.jpg" alt="" style="">
        <div class="aProject_content">
          <p class="aProject_title">Brand & Product Detection Model</p>
          <p class="aProject_description">This model targets products that consumers are using daily.
            The aim of this is to aid in automatically identifying and performing further analysis on the products.</p>
          <a class="prod_button" href="/aProject/Proctor&Gamble">View More</a>
        </div>
      </div>

    </div>

  </div>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
