<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
<style>
</style>
<div class="container" style="padding:0%;">
    <canvas id="particle_canvas"></canvas>
        <div class="row " style="margin: 10% 0px 200px 0px;">
      <div class="col-12 d-flex justify-content-center">
        <div class="index_title" id="index_title" style="text-align: center;">
          <a class="index_title_link" href="/">
            <p class="index_title_body">It looks like you're lost, head back!</p>
            <img src="/img/down_arrow.png" style="width: 30px; opacity:0.8; z-index:1; position:relative">
          </a>
        </div>

        <img class="cloud" src="/img/cloud_1.png" alt="">
        <img class="cloud_2" src="/img/cloud_2.png" alt="">
      </div>
    </div>
</div>