<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Sankofa Display' rel='stylesheet'>
<div class="bg-container">
  {{!-- Section 1 Intro Screen --}}
  <div class="container" style="padding:0%;">
    <canvas id="particle_canvas"></canvas>
    <div class="row " style="margin: 10% 0px 0px 0px;">
      <div class="col-10">

        <div class="index_title" id="index_title">
          <span class="index_title_header">{{company}}!</span><br>
          <span class="index_title_body">I'm <strong style="letter-spacing: 3px">Lerwin</strong>, an aspiring creative
            Front, Back-End Developer &amp; Data Analyst whilst adopting a curious mindset <img class=""
              src="/img/icons/smile.png" style="width: 32px; opacity: 0.8;" alt="smiley face">.</span>
        </div>

        <img class="cloud" src="/img/cloud_1.png" alt="">
        <img class="cloud_2" src="/img/cloud_2.png" alt="">
      </div>
    </div>
  </div>
  {{!-- add a hyperlink --}}
  <img class="moon autozoom" src="/img/moon.png" alt="">
  <div class="mountian_image_container "
    style="background: linear-gradient(to top, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 70%);">
    <img class="mountian_p1 fade_up" src="/img/mountian_p1.png" alt="" style="">
    <img class="mountian_p2 fade_up" src="/img/mountian_p2.png" alt="">

    {{!-- Section 2 About Me --}}
    <p class="aboutMe fade_up_aboutMe" id="myAboutMe">Alil More About Me..</p>
    <p class="aboutMe_Desc fade_up_aboutMe_Desc">I graduated from Nanyang Polytechnic (NYP), topping my cohort 2023. I'd
      like to identify myself as a sponge!
      <img class="sponge_icon" src="/img/icons/sponge.png" alt="sponge face"> I absorb knowledge like no other in
      regards to
      coding &amp; programming.
      Therefore i'd say i am pretty much a Tech Enthusiast! Backed by <a href="#myAchievements"><span
          class="myAchievementsBtn">My
          Achievements</span></a>, i have earned my spot in the IT space, and i hope i can make a difference with my
      knowledge in this space as well!
    </p>
  </div>
</div>
