<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Sankofa Display' rel='stylesheet'>
<div class="bg-container">
  {{!-- Section 1 Intro Screen --}}
  <div class="container" style="padding:0%;">
    <canvas id="particle_canvas"></canvas>
    <div class="row ">
      <div class="col-12 d-flex justify-content-center">
    <p class="test_title_body" style="text-align: center;">Project</p>

      </div>
    </div>
</div>
<div class="container-fluid main_test" style="height: 80svh;">
  <div class="row " style="margin: 200px 0px 0px 0px;">
      <div class="col-4 d-flex justify-content-center">
        {{!-- <div class="test_title" id="test_title" style="text-align: center;">
            <p class="test_title_body">TESTIMONIALS</p>
        </div> --}}
        <img class="cloud_2" src="/img/cloud_2.png" alt="">
      </div>
    </div>
  </div>
</div>